
.caption h1 {
  line-height: 1.5;
}

.off::after {
  visibility: hidden;
}

.small-list ol {
  line-height: 1.5;
}

.boldtlt h2 {
  line-height: 1.5;
  font-weight: 700; 
  color: #4f3222;
}

/* Overrides for the material style */

.slide code a {
  background-image: none;
}

.slide::after {
    position: absolute;
    right: 38px;
    bottom: 38px;
    left: 0;
    line-height: 18px;
    text-align:right;
    counter-increment: slide;
    content: counter(slide)'/45';
}

/* Both input and output */

.slide pre code {
    display: block;
    line-height: 1.2;
    background: #eee;
    color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 80%;
}

/* Code input, we need to undo unwanted changes here */

.slide pre.sourceCode code {
    background: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    margin: 0 auto;
}

.flex-item {
    background: #fff;
    /*;background:#96ceb4*/
    /*;background:#ffcc5c*/
    /*;background:#ff6f69*/
}
